{% extends "base_layout.html" %}

{% block title %}
About
{% endblock %}

{% block signin_or_logout_nav %}
    {% if signed_in == true%}
        <li><a class="btn" href="logout">LOGOUT</a></li>
    {% else %}
        <li><a class="btn" href="signIn">SIGN IN / SIGN UP</a></li>
    {% endif %}
{% endblock %}

{% block nav_active_about %}
    class="active"
{% endblock %}

{% block body_main_block %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
				<header class="page-header">
					<h1 class="page-title" style="margin:15px">About us</h1>
				</header>
				<div class="col-md-8 highlight">
					<h3>The Brief</h3>
					<p>THE ILLUMI MANUSCRIPTS platform was created as part of a two-week intensive technology module at Open Lab, Newcastle University. <br><br>
					As part of the project, we were given the following brief: <br><br> “Part of our Digital Civics agenda is about promoting engagement between the University, its staff and students, and the communities that we are part of. Over the last several years initiatives such as VoiceNorth and organisations like the University of the Third Age (U3A) have looked at the ways older people may actively contribute to and be engaged in learning, teaching, and research at Newcastle University. However, there is often a feeling from VoiceNorth and U3A that older people are still primarily treated as ‘subjects’ for research or invited to absorb lectures given by subject experts. In this module, we want you to explore the ways in which technology might enhance how the University engages, connects and builds meaningful relationships with older people living in and around Newcastle.”</p><br>
                </div>
                <div class="col-md-4 highlight">
					<br><br>
					<p><br><img src="{{ url_for('static',filename='images/workshop_1.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p><br><br>
				</div>
                <div class="col-md-8 highlight">
                    <h3>The Workshop</h3>
					<p>Following the brief, we conducted a workshop with members of VoiceNorth and U3A to explore their opinions relating to University engagement and research. Using cameras sent to participants in advance of the workshop, a game and an invisible design film, we were told a number of findings:<br>
					<ul>
					<li>The cameras sent beforehand revealed some interesting imagery, with many containing books</li>
					<li>Older citizens in the workshop did not like the idea of routine communication via social media reporting on daily activities</li>
					<li>Based on the social media discussion, they made a distinction between useful and useless information, with the former being sought and the latter being disregarded</li>
					<li>They preferred interesting projects that were not too time-consuming</li>
					<li>They felt frustrated with the way the University recruited participants and felt they were not recruiting a representative makeup of participants</li>
					<li>Based on this, they were also frustrated with how research was communicated and disseminated</li>
					</ul></p><br>
                </div>
                <div class="col-md-4 highlight">
					<br><br>
					<p><br><img src="{{ url_for('static',filename='images/workshop_3.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p><br><br>
				</div>
                <div class="col-md-8 highlight">
					<h3>THE ILLUMI MANUSCRIPTS</h3>
					<p>The idea of The Illumi Manuscripts was developed as an interactive way to engage a wider audience through a light-touch engagement method. The physical artefact is a well-designed piece of technology which would fit into a home environment.<br></p>
					<p>The Illumi Manuscripts are a chain of devices connected through a server which allows a message to be sent through the chain and is based on the concept of ‘Chinese whispers’. It is also a play on historical illuminated manuscripts, which were copied by hand from edition to edition, meaning any mistakes or mistranslations, were also copied and continued. These messages are called ‘Illumis’, and consist of a short audio recording and a single image.<br></p>
					<p>A researcher can submit an Illumi through the web interface in the form of an audio file and an image which begins the process. This message is delivered to the first randomly allocated device in the chain, allowing the older person to listen to the research idea, see the image, reflect on what they have discovered and subsequently record their thoughts for the next person. Their Illumi is then sent to the next device in the chain until it returns to the researcher at the end. <br></p>
					<p>Not only does it engage older citizens in finding out more about the university and its research, but it harnesses their skills to be able to critique ideas from a real-world perspective and encourages the researcher to improve their ideas and communication techniques.</p>
				</div>
                <div class="col-md-4 highlight">
					<br><br>
                    <p><br><img src="{{ url_for('static',filename='images/book_1.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p>
				</div>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->
{% endblock %}