{% extends "base_layout.html" %}

{% block title %}
    About the Server
{% endblock %}

{% block signin_or_logout_nav %}
    {% if signed_in == true%}
        <li><a class="btn" href="logout">LOGOUT</a></li>
    {% else %}
        <li><a class="btn" href="signIn">SIGN IN / SIGN UP</a></li>
    {% endif %}
{% endblock %}

{% block nav_active_about %}
    class="active"
{% endblock %}

{% block body_main_block %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li class="active">Server</li>
		</ol>

		<div class="row">
			<header class="page-header">
				<h1 class="page-title">About the Illumi Server</h1>
			</header>
			<p>INSERT CONTENT</p>
		</div>
	</div>	<!-- /container -->
{% endblock %}