{% extends "base_layout.html" %}

{% block title %}
About
{% endblock %}

{% block signin_or_logout_nav %}
    {% if signed_in == true%}
        <li><a class="btn" href="logout">LOGOUT</a></li>
    {% else %}
        <li><a class="btn" href="signIn">SIGN IN / SIGN UP</a></li>
    {% endif %}
{% endblock %}

{% block nav_active_about %}
    class="active"
{% endblock %}

{% block body_main_block %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
				<header class="page-header">
					<h1 class="page-title" style="margin:15px">About us</h1>
				</header>
				<div class="col-md-8 highlight">
					<h3>The Brief</h3>
					<p>THE ILLUMI MANUSCRIPTS platform was created as part of a two-week intensive technology module at Open Lab, Newcastle University. <br><br>
					As part of the project, we were given the following brief: <br><br> “Part of our Digital Civics agenda is about promoting engagement between the University, its staff and students, and the communities that we are part of. Over the last several years initiatives such as VoiceNorth and organisations like the University of the Third Age (U3A) have looked at the ways older people may actively contribute to and be engaged in learning, teaching, and research at Newcastle University. However, there is often a feeling from VoiceNorth and U3A that older people are still primarily treated as ‘subjects’ for research or invited to absorb lectures given by subject experts. In this module, we want you to explore the ways in which technology might enhance how the University engages, connects and builds meaningful relationships with older people living in and around Newcastle.”</p><br>
					<h3>The Workshop</h3>
					<p>Following the brief, we conducted a workshop with members of VoiceNorth and U3A to explore their opinions relating to University engagement and research. Using cameras sent to participants in advance of the workshop, a game and an invisible design film, we were told a number of findings:<br>
					<ul>
					<li>The cameras sent beforehand revealed some interesting imagery, with many containing books</li>
					<li>Older citizens in the workshop did not like the idea of routine communication via social media reporting on daily activities</li>
					<li>Based on the social media discussion, they made a distinction between useful and useless information, with the former being sought and the latter being disregarded</li>
					<li>They preferred interesting projects that were not too time-consuming</li>
					<li>They felt frustrated with the way the University recruited participants and felt they were not recruiting a representative makeup of participants</li>
					<li>Based on this, they were also frustrated with how research was communicated and disseminated</li>
					</ul></p><br>
					<h3>THE ILLUMI MANUSCRIPTS</h3>
					<p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?
					</p>
				</div>
			
				<div class="col-md-4 highlight">
					<p><br><br><br><img src="{{url_for('static', filename='images/mac.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p>
				</div>
			
			<!-- /Article -->
			
			

		</div>
	</div>	<!-- /container -->
{% endblock %}