{% extends "base_layout.html" %}

{% block title %}
Error!
{% endblock %}

{% block signin_or_logout_nav %}
    {% if signed_in == true%}
        <li><a class="btn" href="logout">LOGOUT</a></li>#}
    {% else %}
        <li><a class="btn" href="signIn">SIGN IN / SIGN UP</a></li>#}
    {% endif %}
{% endblock %}

{% block body_main_block %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Error</li>
		</ol>

		<div class="row">
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Error</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">{{error}}</h3>

						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
{% endblock %}