{% extends "base_layout.html" %}
{% block title %}Start Whisper {% endblock %}
{% block navigation %}
    <li role="presentation" ><a href="userHome">My Home</a> </li>
    <li role="presentation" class="active"><a href="#">Start Whisper</a> </li>
    <li role="presentation" ><a href="track">Track Whisper</a> </li>
    <li role="presentation" ><a href="logout">Logout</a> </li>
{% endblock %}

{% block muted_heading %} Let's see how skewed this gets! {% endblock %}
{% block main_heading %} Start Whisper {% endblock %}

{% block main_content %}
    <div class="jumbotron">
        <form class="form-signin" method="POST" action="/uploadWhisper" enctype="multipart/form-data">
            <label for="file" class="sr-only">Choose video</label>
            <input type="file" accept="image/*" name="image_file" id="image_file" class="form-control" required autofocus>
            <label for="audio_file"  class="sr-only">Choose video</label>
            <input type="file" accept="audio/*" name="audio_file" id="audio_file" class="form-control" required autofocus>
            <label for="inputName" class="sr-only">Whisper Title</label>
            <input type="name" name="whisper_title" id="whisper_title" class="form-control" placeholder="Whisper Title" required autofocus>
            <input type="name" name="username" id="username" style="display: none" value="{{ session['user'] }}">
            <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Start this sucker</button>
        </form>
    </div>
{% endblock %}