{% extends "base_layout.html" %}

{% block title %}
Track an ILLUMI
{% endblock %}

{% block signin_or_logout_nav %}
    <li><a class="btn" href="logout">LOGOUT</a></li>#}
{% endblock %}

{% block nav_active_start %}
    class="active"
{% endblock %}

{% block body_main_block %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Track Illumi</li>
		</ol>
        <!-- Article main content -->
        <header class="page-header">
            <h1 class="page-title" style="margin:15px">Track an Illumi</h1>
        </header>

		<div class="row">
			{% for entry in whisper_names_list %}
                <div class="col-md-12 highlight">
                    <h4>{{entry}}</h4>
                </div>
                <div class="col-md-8 highlight">
                    <img class="rotated" src="{{ image_filenames_list[loop.index - 1] }}" alt="{{ entry }}" style="max-width: 100%">
                </div>
                <div class="col-md-4 highlight">
                    <audio controls>
                        <source src="{{ audio_filenames_list[loop.index - 1] }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <hr>
        {#        {% for current_image in image_filenames_list %}#}
        {#        {{ url_for('static',filename='uploads/') }}#}
{#                <img src="{{ image_filenames_list[loop.index - 1] }}" alt="{{ entry }}" style="max-width: 100%">#}
        {#        {% endfor %}#}
{#                <p> Audio: </p>#}
        {#        {% for current_audio in audio_filenames_list %}#}
{#                    <audio controls>#}
{#                        <source src="{{ audio_filenames_list[loop.index - 1] }}" type="audio/mpeg3">#}
{#                        Your browser does not support the audio element.#}
{#                    </audio>#}
        {#        {% endfor %}#}
            {% else %}
                <em>Unbelievable.  No entries here so far</em>
            {% endfor %}

		</div>
	</div>	<!-- /container -->
{% endblock %}