{% extends "base_layout.html" %}
{% block title %}Track Whisper {% endblock %}
{% block navigation %}
    <li role="presentation" ><a href="userHome">My Home</a> </li>
    <li role="presentation" ><a href="startWhisper">Start Whisper</a> </li>
    <li role="presentation" class="active"><a href="#">Track Whisper</a> </li>
    <li role="presentation" ><a href="logout">Logout</a> </li>
{% endblock %}

{% block muted_heading %} I can do it {% endblock %}
{% block main_heading %} Track Whisper {% endblock %}

{% block main_content %}
    {% for entry in whisper_names_list %}
        <h3> {{ entry }} </h3>
        <p> Images: </p>
{#        {% for current_image in image_filenames_list %}#}
{#        {{ url_for('static',filename='uploads/') }}#}
        <img src="{{ image_filenames_list[loop.index - 1] }}" alt="{{ entry }}" style="max-width: 100%">
{#        {% endfor %}#}
        <p> Audio: </p>
{#        {% for current_audio in audio_filenames_list %}#}
            <audio controls>
                <source src="{{ audio_filenames_list[loop.index - 1] }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
{#        {% endfor %}#}
    {% else %}
        <em>Unbelievable.  No entries here so far</em>
    {% endfor %}

{% endblock %}