{% extends "base_layout.html" %}
{% block signin_or_logout_nav %}
    {% if signed_in == true%}
        <li><a class="btn" href="logout">LOGOUT</a></li>#}
    {% else %}
        <li><a class="btn" href="signIn">SIGN IN / SIGN UP</a></li>#}
    {% endif %}
{% endblock %}

{% block body_main_block %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="sidebar-right.html">About</a></li>
			<li class="active">Making the Wooden Book</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<header class="page-header">
				<h1 class="page-title" style="margin:15px">Making the Wooden Book</h1>
			</header>
			
			<div class="col-md-8 highlight">
                <h4><b>Getting Started</b></h4>
				<p>The physical artefact is an important part of the project. If the device is to be situated in the homes of older citizens, it should be of a high quality and fit in the environment. The process of designing the book required taking into account the hardware that would need to be housed within it and precise measurements were taken.
				<br><br>The Adobe Illustrator files are provided below but it should be noted that the templates are based on the use of the particular equipment, as follows:</p>
				<ul>
					<li>Raspberry Pi 3</li>
					<li>Makibe 5" Screen</li>
					<li>Anker portable charger with USB</li>
					<li>Speaker</li>
					<li>Microphone</li>
					<li>Pi button</li>
					<li>5mm LED</li>
					<li>Pi camera</li>
				</ul>
				<p>The book consists of laser cut wood and hand-cut foam board to secure the hardware in place. If different equipment is to be used, the measurements in the templates would need to be adapted to suit.</p><br>
				<p>Click on the links below to view the Adobe Illustrator files to laser cut the book:</p>
				<ul>
					<li><a href="{{ url_for('static', filename='files/book_cover.ai')}}">Book Cover</a></li>
					<li><a href="{{ url_for('static', filename='files/box_sides_housing.ai')}}">Box Side and Housing</a></li><br>
				</ul>
            </div>
			
			<div class="col-md-4 highlight">
                <p><br><img src="{{ url_for('static', filename='images/book_3.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p>
            </div>

			<div class="col-sm-9">
				<hr style="height:5px" color="grey" width="130%">
				<h4><b>About the Wooden Book Templates</b></h4><br><br>
				<center><img src="{{ url_for('static', filename='images/book_cover_small.jpg')}}" alt="Book Cover Template"><br><br>
				<img src="{{ url_for('static', filename='images/sides_image_small.jpg')}}" alt="Book Cover Template" width="90%"><br><br><br><br><br>
				<img src="{{ url_for('static', filename='images/hardware_housing_small.jpg')}}" alt="Book Cover Template"></center>
				<br>
				<hr style="height:5px" color="grey" width="130%">
			</div>

			<div class="col-md-8 highlight">
                <h4><b>Assembling the Book</b></h4>
				<p>Once the Adobe Illustrator files were created, they were laser cut from 3mm plywood and assembled together. The box element should be glued to the book cover to ensure it is secure and the housing should also be glued together. The foam board was cut using a craft knife after positioning the hardware.</p><br>
				<p>To finish off the book, one coat of walnut wood stain was used and the engraved front cover was heat embossed with gold embossing powder.</p><br>
				<p>The project also encourages participants to reflect on the messages they hear and write down their thoughts. To accommodate this, a notepad was created. To make the notepad, sheets of A5 Kraft card was used to be in keeping with the look and design of the book. The front cover of the notepad was heat embossed to stay with the theme. The type and style of paper is optional depending on the design you would like.</p><br>
				<p>The notepad should be stuck to the inside of the front cover so it is easily available when listening to the messages. To ensure the notepad does not fall onto the hardware when the book is closed, a long piece of ribbon should be glued to the back of the notepad which can be tied around the paper. The notepad should then be glued to the inside cover using PVA glue.</p><br>
				<p>This completes the physical artefact - all that remains is to insert the hardware!</p>
            </div>

			<div class="col-md-4 highlight">
                <p><br><img src="{{ url_for('static', filename='images/book_1.jpg')}}" alt="" class="img-rounded pull-right" width="400" ></p>
            </div>
				
			</article>
			<!-- /Article -->
			
			
		</div>
	</div>	<!-- /container -->
{% endblock %}